/* ----- fonts ----- */


/*fancy*/@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Metamorphous&family=Monsieur+La+Doulaise&display=swap');
/*sophisticated*/@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
/*loud*/@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*buisness*/@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
/*playful*/@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');


/* ----- basic setting ----- */


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}


/* ----- prep ----- */


body { 
    background-color: #0abab5; 
    font-size: 50px;
}

